* {
	box-sizing: border-box;
}

body {
	margin:0;
	padding:0;
	font-family: Josefin Sans, sans-serif;
	background-image: url(images/money.jpg);
}

/* navbar */
.navbar{
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	font-size: 20px;
	color: white;
	position: fixed;
	top: 0;
	padding: 5px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* nav main */
.nav-main {}

.nav-main__list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	align-items: center;
}

.nav-main__text {
	padding: 5px;
	display: inline-block;
	text-decoration: none;
	color: rgb(100, 112, 132);
}

.nav-main__text:hover{
	color: rgba(29, 166, 255, 0.76);
	transition: 150ms;


}
.navbar__element{
	display:flex;
	align-items: : center;
}
.tg_manager{
 line-height: 80px;
}
.logo{
	float: left;
	height: 80px;
	width: 80px;
}
.registrieren{
	font-size: 25px;
	text-decoration: none;
	color: white;
}
.registrieren:hover {
	color: #2196F3;
	transition: 150ms;
}

.hauptseite{
	background-color: rgba(0,0,0,0.5);
	max-width: 90%;
	height: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 150px;
	border-radius: 10px;
	color: white;

}
h1{
	text-align: center;
	color:white;
}



.button-container{
	text-align: center;
	margin-top: 100px;

}
.button {
    background: transparent;
    border: solid 2px #2196F3;
    font-size: 25px;
    border-radius: 5px;
    color: #2196F3;
    padding: 10px 30px;
    transition: 150ms;
    margin: auto;
    text-decoration: none;
    }
 .button:hover {
    background: rgba(29, 166, 255, 0.76);
    color: white;
}
.button-container_2 {
	text-align: center;
	margin-top: 100px;
}
.button-container_3{
	margin-top: 100px;
}
.spalten{
	text-align: center;
	font-size: 20px;
	color: white;
}
.spalten_index{
	display: flex;
	padding: 0 20px;
	font-size: 20px;
	color: white;
	justify-content: space-between;
}

.spalten_index h2 {
	text-align: center;
}
.spalten_index h1 {
	margin: auto;
	color: red;
}
.datensätze{
	margin-top: 50px;
	text-align: center;
	font-size: 25px;
}
.datensätze > div {

}
.abschicken{
	background: transparent;
	border: solid 2px #2196F3;
	font-size: 25px;
	border-radius: 5px;
	color: #2196F3;
	padding: 10px 30px;
	transition: 150ms;
	margin: auto;
	text-decoration: none;
}

.doppel_formular{
	display: flex;
	color: white;
	font-size: 20px;
}
.formulare{
	text-align: center;
	flex-basis: 50%;
}
.link_alle_datensätze_container{
	margin-top: 30px;
	text-align: center;


}
.link_alle_datensätze{
	text-decoration: none;
	color: white;
	font-size: 20px;
}
.link_alle_datensätze:hover{
	color: rgba(29, 166, 255, 0.76);
}
#einnahmen{
	text-align: center;
}
.haupt_link_container{
	text-align: center;
}
.haupt_link{
	text-decoration: none;
	color: white;
	font-size: 20px;
}
#keine_umbuchungen{
	text-align: center;
}
.info_text{
	text-align: center;
	margin-top: 150px;
	font-size: 25px;
}
.aktuelle_abos{
	margin-top: 80px;

}
.aktuelle_abos span{
	font-size: 25px;
}
.blaettern{
	text-align: center;
	margin-top: 50px;
}
.blaettern a{
	text-decoration: none;
	color: white;
	font-size: 25px;


}
.blaettern a:hover{
	color: rgba(29, 166, 255, 0.76);
	transition: 150ms;
}
